{% extends 'dashboard_basic.html' %}
{% block title %}{{ page }}{% endblock title %}
{% block css %}
<link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" rel="stylesheet" crossorigin="anonymous">
{% endblock css %}

{% load static %}

{% block body %}
{% include 'sidebar.html' %}
<div class="col-sm-9">
    {% include 'navbar.html' %}

    <div class="row align-items-center listRow">
        <div class="col-lg-12 mb-5 mb-lg-0 position-relative">
            <div class="card bg-glass">
                <div class="card-body p-3 genCardBody">
                    <div id="measurementDetailSection" class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
<script>
    const patient_id = '{{ patient_id }}';
    const date = '{{ date }}';
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/measurementDetail.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
{% endblock js %}