body { font-family: 'Lato', sans-serif;}
.background-radial-gradient { background: radial-gradient(circle, #A9A9A9, #EAEAEA); }
#radius-shape-1 { height: 220px; width: 220px; top: -60px; left: -130px; background: radial-gradient(#44006b, #ad1fff); overflow: hidden; }
#radius-shape-2 { border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%; bottom: -60px; right: -110px; width: 300px; height: 300px; background: radial-gradient(#44006b, #ad1fff); overflow: hidden; }
#informa { color: #2E95B1; font-size: 60px; line-height: 72px; }
#informaAI { font-size: 40px; line-height: 48px; font-weight: 700; font-family: 'Lato'; color: #FF6200; top: -10px; }
#informaTagLine { color: #333333; font-size: 24px; line-height: 28.8px; }
#authCardBody { color: #2E95B1; background-color: #FFFFFF; border: 1px solid #EAEAEA; border-radius: 5px; box-shadow: 0px 10px 10px 0px rgba(51,51,51,0.15); -webkit-box-shadow: 0px 10px 10px 0px rgba(51,51,51,0.15); -moz-box-shadow: 0px 10px 10px 0px rgba(51,51,51,0.15); }
.formControlAI { height: 40px; border: 1px solid #EAEAEA; border-radius: 0px; }
#authCardBody input::placeholder { font-size: 12px; line-height: 22px; color: #BEBEBE; letter-spacing: 1px !important;}
#pswRecoverySection p, #codeEntrySection p { font-size: 12px; line-height: 22px; color: #000000; letter-spacing: 1px !important;}
#authCardBody a { font-size: 12px; line-height: 22px; color: #2E95B1; letter-spacing: 1px !important; text-decoration: none; }
.btnLogin, .btnLogin:hover { background-color: #2E95B1; color: #FFF; font-size: 18px; font-weight: 700; line-height: 21.6px; border: 1px solid #EAEAEA; border-radius: 10px; height: 40px;}
.message { color: #FF0000; font-size: 14; font-weight: 700; line-height: 16.8px; }
.messageCode { color: #FF0000; font-size: 12; line-height: 22px; font-weight: 400; letter-spacing: 1px; }
.errorBorder { border: 1px solid #FF0000; }
.w-85 { width: 85% !important; }
.customInputBox { width: 28px; border: 1px solid #BEBEBE; margin: 4px; }
#codeEntrySection input[type="text"] { font-size: 24px; line-height: 28px; font-weight: 700; color: #BEBEBE; letter-spacing: 1px !important; text-align: center;}
#codeEntrySection input::placeholder { font-size: 24px; line-height: 28px; font-weight: 700; color: #BEBEBE; letter-spacing: 1px !important; text-align: center;}
#codeEntrySection input:focus-visible { outline:none; }

